<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/untitled.css">
</head>

<body>
    <div id="navigation-block">
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid"><a class="navbar-brand" style="font-family:Bungee, cursive;" href="#">elidek</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" href="/">Home</a><a class="nav-link" href=/Organization/addfundingpr>Funding_Program</a></li>
                        <li class="nav-item"><a class="nav-link" href=/Organization/addOrganization>Organization</a><a class="nav-link" href=/Organization/addUniversity>University</a></li>
                        <li class="nav-item"><a class="nav-link" href=/Organization/addAddress>Address</a><a class="nav-link" href=/Organization/addCompany>Company</a></li>
                        <li class="nav-item"><a class="nav-link" href=/Organization/addphones>phones</a><a class="nav-link" href=/Organization/addResearchCent>Research_center</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>